[submodule "custom-cloudcompare-plugins"]
	path = custom-cloudcompare-plugins
	url = https://github.com/caibucai22/custom-cloudcompare-plugins.git
[submodule "cv-dataset-format-converter"]
	path = cv-dataset-format-converter
	url = https://github.com/caibucai22/cv-dataset-format-converter.git
[submodule "TableAnalysisTool"]
	path = TableAnalysisTool
	url = https://github.com/caibucai22/TableAnalysisTool
[submodule "elm-fire-hazard-identification"]
	path = elm-fire-hazard-identification
	url = https://github.com/henu77/Fire-hazard-identification
[submodule "Street Scene Semantic Segmentation"]
	path = Street-Scene-Semantic-Segmentation
	url = https://github.com/henu77/Street-Scene-Semantic-Segmentation.git
